<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pixies_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ageRelated.bpsymtom"></activity>
        <activity android:name=".ageRelated.diabetessymtom" />
        <activity android:name=".relaxation.exercisevideo" />
        <activity android:name=".relaxation.insvideo" />
        <activity android:name=".relaxation.exercise" />
        <activity android:name=".relaxation.Speech" />
        <activity
            android:name=".relaxation.Speech"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".relaxation.camera" />
        <activity android:name=".ageRelated.pcod" />
        <activity android:name=".ageRelated.teenage" />
        <activity android:name=".ageRelated.old" />
        <activity android:name=".ageRelated.midage" />
        <activity android:name=".ageRelated.elder" />
        <activity android:name=".ageRelated.diabetes" />
        <activity android:name=".ageRelated.calcium" />
        <activity android:name=".ageRelated.bonecheck" />
        <activity android:name=".ageRelated.bloodpressure" />
        <activity android:name=".relaxation.Register" />
        <activity android:name=".Login" />
        <activity android:name=".ageRelated.agebased" />
        <activity android:name=".relaxation.meditation" />
        <activity android:name=".dental" />
        <activity android:name=".bmi" />
        <activity android:name=".activity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>